@use 'styles/mixins' as *;
@use 'styles/variables' as *;

.main {
  display: flex;
  padding: 2rem;
  position: relative;
  background-color: #1c1b38;

  .container {
    width: 100%;
    display: flex;
    .preview {
      width: 50%;
      @include breakpoint-down($lg) {
        display: none;
      }
      .mobile {
        width: 350px;
        height: 750px;
        background-color: $bg-white;
        margin: 20px auto;
        border-radius: 40px;
        border: 4px solid black;

        .nameSection {
          margin-top: 20px;
        }

        .sectionContainer{
          display: flex;
          align-items: center;
          flex-direction: column;
          .profileImage {
            border-radius: 50%;
            width: 96px;
            height: 96px;
            margin-top: 48px;
          }
        }

        .socialSection {
          margin-top: 20px;
        }
      }
    }

    .settings {
      width: 50%;
      background-color: $light-bg;
      margin: 20px auto;

      @include breakpoint-down($lg) {
        width: 100%;
        min-height: 100vh;
      }
    }
  }

}