.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    --bg-opacity: 1;
    background-color: #323259;
    padding: 0 1rem;
}

.logo {
    width: 34px;
    height: 32px;
}